model_config_list: {
  config: [
    {
      name: "multiclass_classification",
      base_path: "/models/multiclass_classification",
      model_platform: "tensorflow"
    },
    {
      name: "image_segmentation",
      base_path: "/models/image_segmentation",
      model_platform: "tensorflow"
    }
  ]
}
